body{
	background-image:url("../images/pink.png");
	background-repeat:no-repeat;
 	background-size:100% 100%;
    background-attachment: fixed;	
}
p,ul.colle{
	text-align:justify;
	word-spacing:1px;
	font-style:italic;
	font-size:23;
	}
.row{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.row .parag{
	margin:0;
}
.footer{
	color:black;
	text-align:center;
	font-size:12px;
	}
div.head{
	background-color:white;
	border-style:solid;
	
}
h1{
	color:orange;
	text-shadow:2px 2px blue;
}

.title{
	background-color:lightblue;
	height:10%;	
	padding:0;
	margin:0;
}
input:hover{
	color:navy;
	background-color:lightblue;
}
select:hover{
	color:navy;
	background-color:lightblue;
}
textarea:hover{
	color:red;
	background-color:lightblue;
}
.nav{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	list-style-type:none;
	padding-top:20px;
	margin:0;
}
.nav li a{
	text-decoration: none;
	color:black;	
}
.nav li:hover{
	background-color:red;
}

@media (max-width:991px){
	.nav li a{
		font-size: small;
	}
	
}
