body{
	background-image:url("../images/pink.png");
	backround-repeat:no-repeat;
 	background-size:100% 100%;
    	background-attachment: fixed;	
}
p,ul.colle{
	text-indent:50px;
	text-align:justify;
	word-spacing:1px;
	font-style:italic;
	font-size:23;
	margin-left:25px;
	margin-right:25px;
	}

.footer{
	color:black;
	text-align:center;
	font-size:12px;
	}
div.head{
	background-color:white;
	border-style:solid;
	
}
h1{
	color:orange;
	text-shadow:2px 2px blue;
}

#title{
	background-color:lightblue;
	height:10%;	
}
input:hover{
	color:navy;
	background-color:lightblue;
}
select:hover{
	color:navy;
	background-color:lightblue;
}
textarea:hover{
	color:red;
	background-color:lightblue;
}


ul.nav{
	list-style-type: none;
        margin:0;
	padding:0;
	
}
.nav li{
	float:left;
	padding:10px;
	margin-left:100px;
	
}
li a{
	text-decoration: none;
	color:black;
	
}
.nav li:hover{
	background-color:red;
}